<ul class="nav flex-column">
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" th:href="@{/dashboard}">
            <span><i class="bi bi-speedometer neon"></i></span>
            DASHBOARD
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" th:href="@{/employes}">
            <span><i class="bi bi-android2 neon"></i></span>
            EMPLOYÉS
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" th:href="@{/clients}">
            <span><i class="bi bi-android neon"></i></span>
            CLIENTS
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" th:href="@{/password}">
            <span><i class="bi bi-key neon"></i></span>
            MOT DE PASSE
        </a>
    </li>
</ul>