<ul class="nav flex-column">
  <li class="nav-item d-md-none d-lg-none">
    <a class="nav-link" >
      <span data-feather="file"></span>
      Log In
    </a>
  </li>
  <li class="nav-item d-md-none d-lg-none">
    <a class="nav-link">
      <span data-feather="file"></span>
      URGENCE ?
    </a>
  </li>
  <li class="nav-item d-md-none d-lg-none">
    <span data-feather="file"></span>
    <a class="nav-link" href="/" >
      Home
    </a>
  </li>
  <li class="nav-item d-md-none d-lg-none">
    <span data-feather="file"></span>
    <a class="nav-link" th:href="@{/nostarifs}">
      Nos tarifs
    </a>
  </li>
  <li class="nav-item d-md-none d-lg-none">
    <span data-feather="file"></span>
    <a class="nav-link" th:href="@{/nosvaleurs}">
      Nos Valeurs
    </a>
  </li>
  <li class="nav-item mb-2">
        <span class="nav-link">
        <span><i class="bi bi-shield-plus neon"></i></span>
            NOS ASSURANCES
        </span>
    <a class="nav-link ms-5" href="#">Starter Pack</a>
    <a class="nav-link ms-5" href="#">Armor Pack</a>
    <a class="nav-link ms-5" href="#">Respawn Pack</a>
  </li>
  <li class="nav-item mb-2">
            <span class="nav-link">
              <span><i class="bi bi-bag-plus neon"></i></span>
              NOS SERVICES
            </span>
    <a class="nav-link ms-5" th:href="@{/profil}">Mon Compte</a>
    <a class="nav-link ms-5" th:href="@{/mes_sinistres}">Sinistres</a>
    <a class="nav-link ms-5" th:href="@{/contact}">Nous contacter</a>
    <a class="nav-link ms-5" th:href="@{/faq}">FAQ ?</a>
  </li>
  <li class="nav-item mb-2">
            <span class="nav-link">
              <span><i class="bi bi-android neon"></i></span>
              PIXEL SHIELD
            </span>
    <a class="nav-link ms-5" th:href="@{/about}">Qui Sommes-Nous ?</a>
    <a class="nav-link ms-5" href="#">Avis Clients</a>
  </li>
  <li class="nav-item mb-2">
            <span class="nav-link">
              <span><i class="bi bi-bag-heart neon"></i></span>
              NOUS REJOINDRE
            </span>
  </li>
</ul>