<ul class="nav flex-column">
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" href="#">
            <span><i class="bi bi-speedometer neon"></i></span>
            DASHBOARD
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" href="#">
            <span><i class="bi bi-person-bounding-box neon"></i></span>
            ANNUAIRE
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" href="#">
            <span><i class="bi bi-android neon"></i></span>
            CLIENTS
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" href="#">
            <span><i class="bi bi-clipboard-heart neon"></i></span>
            SONDAGES
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" href="#">
            <span><i class="bi bi-list-stars neon"></i></span>
            SINISTRES
        </a>
    </li>
    <li class="nav-item mb-2">
        <a class="nav-link ms-5" href="#">
            <span><i class="bi bi-key neon"></i></span>
            MOT DE PASSE
        </a>
    </li>
</ul>